{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>

<legend class="border-bottom mb-4">About this project:</legend>

<p style=" padding: 10px; box-shadow: 0px 0px 4px grey">
The main goal of this project is making a web app with generic features.
<br><br>
This application is a simple clone of bitly.
<br><br>
Special links are free; but logging-in is required.
<br><br>
Source code of this project is on github:
<br>
<a href="https://github.com/cemonatk" target="_blank">
	<i class="fa fa-github-square" style="font-size:36px"></i>
</a>
</p>
{% endblock content %}
