{% extends "layout.html" %}
{% block content %}

    <h1>Contact Page</h1>

<legend class="border-bottom mb-4">Get in touch!</legend>

<p style=" padding: 10px; box-shadow: 0px 0px 4px grey">
Hi I'm Cem,<br><br>  
If you want to get in touch with me, you can use my social accounts.<br><br> Here are my accounts:
<br><br>
<a href="https://www.twitter.com/cemonatk" target="_blank">
	<i class="fa fa-twitter-square" style="font-size:36px"></i> &nbsp;
</a>

<a href="https://www.linkedin.com/in/cemkaragun" target="_blank">
	<i class="fa fa-linkedin-square" style="font-size:36px"></i> &nbsp;
</a>

<a href="https://www.youtube.com/user/cem94" target="_blank">
	<i class="fa fa-youtube-square" style="font-size:36px"></i> &nbsp;
</a>

<a href="https://github.com/cemonatk" target="_blank">
	<i class="fa fa-github-square" style="font-size:36px"></i> &nbsp;
</a>
</p>
{% endblock content %}
